
/* Your CSS Code here. */
/* Your CSS Code here. */
.holder {
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.item {
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
